.text-input {
    background-color: var(--elements);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    font-size: var(--fs-sm);
    padding: 1em 1.75em;
    cursor: text;

    display: flex;
    align-items: center;
    gap: 1em;

    &:has(input:focus-visible) {
        outline: var(--focus-outline);
    }

    &__icon {
        width: 1.25em;
        height: 1.25em;

        fill: var(--text);
        flex-shrink: 0;
    }

    input {
        background: none;
        color: var(--text);
        border: none;
        flex-grow: 1;

        &:focus-visible {
            outline: none;
        }
    }
}
