.button {
    background-color: var(--elements);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    color: var(--text);
    border: none;
    width: fit-content;

    padding: 0.5rem 2rem;
    text-align: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
        width: var(--fs-xl);
        height: var(--fs-xl);
    }

    &:hover {
        background-color: var(--elements-dark);
    }

    &:active {
        background-color: var(--elements-darker);
    }

    &:focus-visible {
        outline: var(--focus-outline);
    }
}
