.country-card {
    $card-width: 15rem;

    width: $card-width;
    height: 100%;
    background-color: var(--elements);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;

    &__flag {
        height: $card-width * 0.6;
        width: 100%;
        object-fit: cover;
    }

    &__info {
        padding: 1.25rem 1.25rem 2.75rem;

        &-title {
            font-size: var(--fs-lg);
            margin-bottom: 1rem;
        }

        &-items {
            list-style: none;
            padding: 0;

            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }

        &-item {
            font-size: var(--fs-sm);
            font-weight: var(--fw-bold);

            span {
                font-weight: var(--fw-light);
                opacity: 0.8;
            }
        }
    }
}
