.countries-list {
    padding: 2.75rem 0;
    flex-grow: 1;

    &:has(.countries-list__status-message) {
        display: flex;
        align-items: center;
    }

    &__show-more-btn {
        display: block;
        margin: 2.75rem auto 0;
    }

    &__status-message {
        margin: 0 auto;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, 15rem);
        justify-content: center;
        gap: 4rem;
    }
}
