.header {
    background-color: var(--elements);
    box-shadow: var(--shadow);
    padding: 1.3rem 0;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: var(--fw-bolder);
        font-size: var(--fs-xl);
        border-radius: var(--border-radius);
        padding: 0 0.25rem;

        &:focus-visible {
            outline-offset: 0.1rem;
            outline: var(--focus-outline);
        }
    }
}
