.theme-switcher {
    min-width: 7.875rem;

    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    &__icon {
        width: var(--fs-xl);
        height: var(--fs-xl);
        fill: var(--text);
    }

    &__label {
        color: var(--text);
        text-transform: capitalize;
    }
}
