.theme-switcher {
    font-size: var(--fs-md);
    width: 7.125em;

    border-radius: var(--border-radius);
    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;

    &__icon {
        width: 1em;
        height: 1em;
        fill: var(--text);
    }

    &__label {
        color: var(--text);
        text-transform: capitalize;
    }

    &:focus-visible {
        outline: var(--focus-outline);
        outline-offset: 0.1em;
    }
}

@media (max-width: 25rem) {
    .theme-switcher {
        font-size: var(--fs-sm);
    }
}
