.select {
    font-size: var(--fs-sm);
    position: relative;
    min-width: 12.5em;

    &__option {
        padding: 0 1.5em;
        cursor: pointer;

        &:hover,
        &_focused {
            background-color: var(--elements-darker);
        }
    }

    &__input {
        background-color: var(--elements);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
        height: 100%;

        display: flex;
        align-items: center;
        position: relative;
        padding: 1em 1.75em 1em 1.75em;

        cursor: pointer;

        &:focus-visible,
        &:focus {
            outline: var(--focus-outline);
        }

        svg {
            position: absolute;

            width: 1em;
            height: 1em;
            right: 1em;
            top: 50%;
            transform: translateY(-50%);

            transition: 0.15s transform;
            pointer-events: none;
        }

        &[aria-expanded='true'] {
            svg {
                transform: translateY(-50%) rotateX(180deg);
            }
        }
    }

    &__menu {
        background-color: var(--elements);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);

        display: flex;
        flex-direction: column;
        gap: 0.25em;

        position: absolute;
        width: 100%;
        padding: 0.9em 0;
        top: calc(100% + 0.5em);
        list-style: none;

        z-index: 1;
    }
}
