@use './components/normalize';
@use './components/typography';
@use './components/themes';
@use './components/mixins';
@use './components/animations';

:root {
    --ff: 'Nunito Sans', sans-serif;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-xl: 1.25rem;
    --fs-xxl: 2rem;
    --fw-light: 300;
    --fw-bold: 600;
    --fw-bolder: 800;
    --shadow: 0px 0px 0.4rem 0px #2424245c;
    --br: 0.25rem;
    --error: hsl(0, 59%, 43%);
    --success: hsl(132, 59%, 43%);
    --info: hsl(221, 59%, 43%);
}

body {
    background-color: var(--background);
    font-family: var(--ff);
    color: var(--text);

    -webkit-font-smoothing: antialiased;
}

body[data-theme='dark'] {
    @include mixins.set-theme(themes.$dark, true);
}

body[data-theme='light'] {
    @include mixins.set-theme(themes.$light);
}

*,
*::after,
*::before {
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

a {
    text-decoration: none;
    color: inherit;
}
