.country-list {
    width: 100%;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
    gap: 4rem;

    a {
        &:focus-visible {
            outline: none;

            .country-card__content {
                outline: var(--focus-outline);
            }

            .country-card {
                transform: scale(1.05);
            }
        }

        &:hover {
            .country-card__content {
                background-color: var(--elements-dark);
            }

            .country-card {
                transform: scale(1.05);
            }
        }
    }
}

@media (max-width: 74em) {
    .country-list {
        gap: 2.75rem;
    }
}

@media (max-width: 25em) {
    .country-list {
        gap: 2rem;
    }
}
